<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Array of Items</title>
</head>
<body>
    <div class="test">
        <div class="list">
            <h2>Κλίμακες</h2>
            <ul>   
                {% for item in items %}
                    <li> <a href="{{ url_for('scale_details', scale_id=item.id) }}"> <span>{{ item.name }}</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
