<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Scale Details</title>

</head>
<body>
    <div>
        <h2>Details of {{ scale.name }}</h2>
        <p>ID: {{ scale.id }}</p>
        <p>Name: {{ scale.name }}</p>
        <div class="table-container">
            <table class=content-table >
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table class="note-table">
                <tbody class="note-body">
                    <tr>
                        {% for tabNo in range(12) %}
                        <td>
                            {% for coordinate in scale_coordinates.coordinates %}
                                {% if coordinate.chord == 3 and coordinate.tab == tabNo %}
                                        <div class="container"><div class=circle>{{ coordinate.finger }}</div></div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for _ in range(12) %}
                        <td>
                            {% if scale.id == 1 %}
                            <div class="container"><div class=circle>3</div></div>
                            {% endif %}
                        </td>
                        {% endfor %}
                    <tr>
                        {% for _ in range(12) %}
                        <td>
                            {% if scale.id == 1 %}
                            <div class="container"><div class=circle>3</div></div>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>