<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Scale Details</title>

</head>
<body>
    <div>
        <h2>Details of {{ scale.name }}</h2>
        <p>ID: {{ scale.id }}</p>
        <p>Name: {{ scale.name }}</p>

        <div class="line"></div>
         
        <div class="line"></div>

        <div class="line"></div>

        <div class="line"></div>


        <table border="1">
            <tbody>
                <tr>
                    <td>hello</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>



</body>
</html>